.projects {
    padding: 6rem 0;
    background: linear-gradient(to bottom, #ffffff, #c8dcf3);
    position: relative;
}

.section-header {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title {
    font-size: var(--text-3xl);
    font-weight: var(--font-bold);
    color: var(--accent-color);
    margin-bottom: 1.5rem;
}

.projects .section-description {
    color: #666666;
    margin-top: 1.5rem;
}
