/* Articles Section */
.articles {
    background: linear-gradient(to bottom, #c8dcf3, #ffffff) !important;
    padding: 50px 20px;
    text-align: center;
}

.articles h2 {
    font-size: 2em;
    color: var(--primary-color); /* Usando variável de cor definida */
    margin-bottom: 30px;
}

.articles-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.article-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    flex: 1;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
    display: block;
    text-align: left; /* Alinhar texto do cartão à esquerda */
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.article-card h3 {
    color: var(--primary-color); /* Usando variável de cor */
    margin-bottom: 10px;
    font-size: 1.2em;
}

.article-card p {
    font-size: 16px;
    color: #454346;
} 